.wrapper {
  background-color: white;
  height: 100%;
}

.list-item {
  cursor: default;
  .item-preview {
    p {
      color: rgba(0, 0, 0, 0.5) !important;
    }
  }
}
.article {
  font-size: 18px;
  line-height: 28px;
  color: rgba(0, 0, 0, 0.75);
  padding: 0px 19px 100px 19px;

  overflow-wrap: anywhere;
  word-break: keep-all;
  line-break: loose;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  div {
    margin: 0;
  }
}
