span {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #8c8c8c;

  display: block;
  margin: 8px auto 0 auto;

  a {
    text-decoration: none;
    color: #1890ff;
  }
}
